@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #f1faee;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #e63946;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  position: absolute;
  color: #e63946;
  top: 6px;
  left: 60%;
  font-size: 24px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-60%);
  cursor: pointer;
}
.sidebar.active #btn {
  text-align: right;
}
.sidebar ul {
  margin-top: 40px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 10px 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li i {
  font-size: 21px;
}
.sidebar li .tooltip {
  position: absolute;
  left: calc(100% + 15px);
  top: -20px;
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #f1faee;
  color: #e63946;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #fff;
  padding-left: 50px;
  font-size: 18px;
  color: #e63946;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #e63946;
  font-size: 21px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #e63946;
  color: #f1faee;
}

.sidebar ul li a {
  color: #e63946;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  background: #e63946;
  color: #f1f1f1;
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .profile_content {
  position: absolute;
  color: #e63946;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile {
  background: #f1faee;
}
.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job {
  margin-left: 10px;
}
.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job {
  font-size: 12px;
}
.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 60px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #f1faee;
}
.sidebar.active .profile #log_out {
  left: 88%;
}
.sidebar.active .profile #log_out {
  background: none;
}
.home_content {
  position: absolute;
  background: #e4e9f7;
  min-height: 100%;
  width: 95%;
  top: 0;
  left: 78px;
  transition: all 0.5s ease;
  z-index: 2;
}
.home_content .text {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: #e63946;
  margin: 18px;
}
.sidebar.active ~ .home_content {
  left: 240px;
  width: calc(95% - 160px);
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
.sidebar .mode li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar .mode .moode {
  position: relative;
  border-radius: 6px;
  background-color: #f1faee;
  transition: all 0.3s ease;
  list-style: none;
}

.mode .moode .sun-moon {
  height: 50px;
  width: 60px;
  color: #e63946;
}
.sidebar .mode .moode .sun-moon .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s ease;
}
.sidebar .mode .moode .sun-moon i {
  position: absolute;
}
.sidebar .mode .moode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .moode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .moode .sun-moon i.moon {
  opacity: 0;
}
.sidebar .mode .moode .toggle-switch {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar .toggle-switch .switch {
  position: absolute;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: #e63946;
}

.sidebar .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: #e63946;
  transition: all 0.3s ease;
}

body.dark .switch::before {
  left: 20px;
}

.sidebar.active .mode-text {
  opacity: 1;
  color: #e63946;
}
.sidebar .mode-text {
  opacity: 0;
}
.sidebar .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}
.sidebar .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: #ddd;
}
body.dark .home_content {
  background: #18191a;
}
body.dark .sidebar {
  background: #242526;
}
body.dark .sidebar ul li .bx-search {
  background: #3a3b3c;
}
body.dark .sidebar ul li .bx-search:hover {
  background: #e63946;
}
body.dark .sidebar ul li input {
  background: #3a3b3c;
}
body.dark .sidebar.active .mode .moode {
  background: #3a3b3c;
}
body.dark .sidebar .mode .moode {
  background: #242526;
}

body.dark .sidebar.active .profile {
  background: #242526;
}
body.dark .sidebar .profile #log_out {
  background: #3a3b3c;
}
body.dark .sidebar.active .profile #log_out {
  background: #242526;
}
body.dark .sidebar.active .profile #log_out:hover {
  cursor: pointer;
  background: #242526;
}
body.dark .sidebar .profile #log_out:hover {
  background: #e63946;
  color: #f1faee;
  cursor: pointer;
}
.sidebar.active .profile #log_out:hover {
  cursor: pointer;
  background: transparent;
  color: #3a3b3c;
}
.sidebar .profile #log_out:hover {
  background: #e63946;
  color: #3a3b3c;
  cursor: pointer;
}
body.dark .sidebar .tooltip {
  background: #3a3b3c;
}
body.dark .sidebar #btn:hover {
  color: #f1faee;
  transition: all 0.5s ease;
}

.sidebar #btn:hover {
  color: #3a3b3c;
}
